body
{
    margin: 0;
	padding: 0;
}
.header {
	background-color: bisque;
	width: 70%;
	height: 200px;
	margin: auto;
	display: block;
	margin-top: 20px;
}
.menu {
	background-color: antiquewhite;
	width: 67%;
	height: 100px;
	margin: auto;
	
}
.main {
	background-color: darksalmon;
	width: 70%;
	height: 500px;
	margin: auto;
}
.footer {
	background-color: yellowgreen;
	width: 70%;
	height: 100px;
	margin: auto;
}

